---
import "../styles/global.css";
import { ProfileCard } from "../components/profile-card";
import { BackgroundShaders } from "../components/background-shaders";

const PAGE_TITLE = "Ram Shanakar";
const PAGE_DESCRIPTION = "Ram Shanakar's bio page";
---

<html lang="en" class="h-full">
  <head>
    <title>{PAGE_TITLE}</title>
    <meta charset="utf-8" />
    <meta name="robots" content="follow, index" />
    <meta name="description" content={PAGE_DESCRIPTION} />
    <meta property="og:description" content={PAGE_DESCRIPTION} />
    <meta property="og:title" content={PAGE_TITLE} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="var(--color-blue-950)" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Sans&family=Instrument+Serif&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-zinc-950/90 h-full grid place-items-center">
    <BackgroundShaders client:load>
      <ProfileCard client:load />
    </BackgroundShaders>
  </body>
</html>
